.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: calc(#{$unit} * 15);

  @include mq($until: desktop) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: calc(#{$unit} * 6);
  }

  &__item {
    position: relative;
    cursor: pointer;
    color: $blue;
    font-size: $type-xsmall;
    line-height: 1;
    font-weight: $type-weight-bold;
    text-transform: uppercase;
    letter-spacing: 3.4px;

    @include mq($until: desktop) {
      margin-bottom: calc(#{$unit} * 8);
      width: 33%;
      text-align: center;
    }

    &.active {
      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: calc(-#{$unit} * 2);
        left: 0;
        right: 0;
        background-color: $blue;
      }
    }

    &:hover {
      &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: calc(-#{$unit} * 2);
        left: 0;
        right: 0;
        background-color: $blue;
      }
    }
    &:not(:last-child) {
      margin-right: calc(#{$unit} * 13);

      @include mq($until: desktop) {
        margin-right: 0;
      }
    }
  }
  @include mq($until: desktop) {
    flex-wrap: wrap;
    width: 100%;
  }
}
