/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
 * Project base line height (unitless in order to work with typomatic)
 */
$base-line-height: 24px;
$base-font-size: 15px;

/**
    * Type scale sizes must be entered in their pixel size
    * (unitless in order to work with typomatic)
    * Default type scale ratio: 1.333;
    */
$type-tiny: 10px;
$type-xsmall: 11px;
$type-small: 14px;
$type-base: $base-font-size;
$type-medium: 16px;
$type-medium-large: 18px;
$type-large: 24px;
$type-xlarge: 28px;
$type-xxlarge: 32px;
$type-xxxlarge: 40px;
$type-huge: 56px;

/**
    * Type weights
    */
$type-weight-thin: 100;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-medium: 500;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-weight-extra-bold: 800;

$font-sans-primary: "Open Sans", sans-serif;
$font-sans-secondary: "Raleway", sans-serif;
