.portfolio {
  padding: calc(#{$unit} * 22) 0 0 0;

  &__title {
    text-align: center;
    margin-bottom: calc(#{$unit} * 10);
  }

  &__description {
    font-size: $type-base;
    line-height: 2;
    text-align: center;
    margin-bottom: calc(#{$unit} * 14);
  }

  &__button {
    &__container {
      .container {
        display: flex;
        justify-content: center;
      }

      .button {
        margin: calc(#{$unit} * 25) 0;
      }
    }
  }
}
